<form (ngSubmit)="onSubmit(); spendingForm.reset(); descriptionInput.focus()" #spendingForm="ngForm">
  <!--Description Input-->
  <div class="form-row">
    <div class="col-md-5">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Descripción</span>
          </div>
          <input #descriptionInput
                  type="text" 
                  class="form-control" 
                  id="description"
                  name="description"
                  autocomplete="off"
                  required
                  [(ngModel)]="model.description">
        </div>
      </div>
    <!--Date Input-->
    <div class="col-md-4">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Fecha</span>
      </div>
      <input 
            type="text" 
            placeholder="dd/mm/yyyy"
            class="form-control" 
            id="date"
            name="date" 
            autocomplete="off"
            required
            appDateValidator="D/M/YYYY"
            [(ngModel)]="model.date"
      >
      </div>
    </div>
    <!--Money Input-->
    <div class="col-md-2">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Monto</span>
      </div>
      <input type="number" 
             class="form-control" 
             id="amount" 
             name="amount"
             autocomplete="off"
             required
             [(ngModel)]="model.amount">
      </div>
    </div>
    <!-- Submit Button -->
    <div class="col-md-1 col-12">
      <button type="submit" class="btn btn-primary" [disabled]="!spendingForm.form.valid">Done</button>
    </div>
  </div>
</form>
