<div class="row" (click)="modal.open()">
    <div class="row-left">
        <div class="" >{{ spending.description }}</div>
        <div class="" >{{ spending.date | date: 'dd/MM/yyyy' : 'UTC' }}</div>
    </div>
    <div class="row-right">
        <div class="amount" [ngClass]="spending.amount >= 0 ? 'amount--text-green' : 'amount--text-red'">
            {{ spending.amount | currency }}
        </div>
    </div>
</div>
<app-modal #modal [title]="'Editar registro'">
    <app-edit-spending [spending]="spending" 
                       (saveChangesEvent)="toggleEdit()"
                       (cancelEvent)="modal.close()"
    ></app-edit-spending>
</app-modal>
