.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fcfcfc;
    padding: 0.8em;

    &:hover {
        background-color: #ececec;

    }
    cursor: pointer;
}

.amount {
    &--text-green {
        color: #2eeb39;
    }

    &--text-red {
        color: #ff2525;
    }
}

.table-row {
    &.editing {
        margin: 0;
        border-radius: 0;
        cursor: auto;
    }
}

.action-row {
    padding: 0.5em 0.8em;
    background-color: #424242;
    margin: 0;
}
    
.action-button {
    margin-left: 0.4em;
}
