<ng-container *ngIf="!editing">
    <div [ngClass]=" spending.amount > 0 ? 'green-bg' : 'red-bg' " class="table-row">
        <div class="row">
            <div class="col-1 table-cell">{{ index + 1 }}</div>
            <div class="col-3 table-cell" (click)="toggleEdit($event.target)">{{ spending.date | date: 'dd/MM/yyyy' : 'UTC' }}</div>
            <div class="col-5 table-cell" (click)="toggleEdit($event.target)">{{ spending.description }}</div>
            <div class="col-3 table-cell" (click)="toggleEdit($event.target)">{{ spending.amount | currency }}</div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="editing">
    <div [ngClass]=" spending.amount > 0 ? 'green-bg' : 'red-bg' " class="table-row editing">
        <div class="row">
            <div class="col-1 table-cell">
                {{ index + 1 }}
            </div>
            <div class="col-3 table-cell">
                <input #date type="date" class="input-group-text table-input" [value]="spending.date | date: 'yyyy-MM-dd'"/>
            </div>
            <div class="col-5 table-cell">
                <input #description type="text" class="input-group-text table-input" [value]="spending.description"/>
            </div>
            <div class="col-3 table-cell">
                <input #amount type="number" class="input-group-text table-input" [value]="spending.amount"/>
            </div>
        </div>
    </div>
    <div class="row justify-content-end action-row">
        <input  class="btn btn-secondary action-button" 
                type="button"
                value="Cancel"
                (click)="toggleEdit()"
        />
        <input  class="btn btn-primary action-button"
                type="button"
                value="Save"
                (click)="saveChanges(description.value, date.value, amount.value)"
        />
    </div>
</ng-container>